<h1>Login brah-bro-isf</h1>

<form method="post" action="/login">
	<p>first name</p>
	<input type="text" name="user_name">
	<p>password</p>
	<input type="password" name="password">
	<input type="submit" value="login">
</form>
