<h1>Hi welcome to Tour desinger</h1>
<h2>fill out the form to sign up</h2>

<form method="post" action="/register">

	<p>first name</p>
	<input type="text" name="user[first_name]">
	<p>last name</p>
	<input type="text" name="user[last_name]" >
	<p>user name</p>
	<input type="text" name="user[user_name]">
	<p>password</p>
	<input type="password" name="user[password]" >

	<input type="submit" value="register">
</form>
