<h1>Hi welcome to Lil Squaker</h1>
<h2>fill out the form to sign up</h2>

<form method="post" action="/register">

	<p>first name</p>
	<input type="text" name="first_name">
	<p>last name</p>
	<input type="text" name="last_name" >
	<p>user name</p>
	<input type="text" name="user_name">
	<p>image</p>
	<input type="text" name="image" >
	<p>password</p>
	<input type="password" name="password" >

	<input type="submit" value="register">
</form>
