<p>You order <%=@data["quantity"]%> packages of <%= @tour.tour_name %> tour.</p><br>
<% @tour.images.each do |image|%>
	<img src="<%= image.url %>">
<% end %>
<p>The total is: $<%= @total %></p>
<a href=""><button class="p btn btn-success dropdown-toggle btn-block" type="submit">Purchase now</button><br></a>