<img src=https://source.unsplash.com/user/hank860502/likes class="unsplash">
<div id="header"></div>
<button type="button" id="button" class="p btn btn-success dropdown-toggle btn-block"><i class="fa fa-search" aria-hidden="true"></i>    Where do you want to go?</button>

<a href="/countries/1" id="taiwan">
<i class="fa fa-map-marker fa-3x" aria-hidden="true" id="taiwanbutton"></i></a>
<a href="/countries/2" id="uk">
<i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></a>
<img src="world-map-large.png" class="world-map"><br>
<% @countries.each do |country| %>
	<a href="/countries/<%= country.id %>" class="country_name"><%= country.country_name %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% end %><br>
<% @countries.each do |country| %>
	<a href="/countries/<%= country.id %>"><img src="<%= country.url %>" class="image"></a>
<% end %>
</div>