<h1><%= @country.country_name %></h1>
<% @country.tours.each do |tour| %>
	<%= tour.tour_name %><br>
	<% tour.images.each do |image| %><br>
		<a href="/tour/:id"><img src="<%= image.url %>" height="500" width="800"><br></a>
<% end %>
<% end %>
