<h3 class="wishlist">My Wishlist</h1>
<% @tours.each do |tour| %>
  <%= tour.tour_name %><br>
  <% tour.images.each do |image| %><br>
    <a href="/tour/<%= tour.id %>"><img src="<%= image.url %>" height="300" width="450"></a>
    <% end %>
<% end %>



<!-- <h3><%# @user.tours.each do |tour|%></h3>
	<%#= tour.tour_name %>
	<%# @total += tour.price%>
<#% end %>

<p>total amount of your wishlist is <%#= @total %></p> -->
