<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <script src="//cdn.jsdelivr.net/rsvp/3.0.6/rsvp.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <title></title>
</head>
<body>


  <nav>
    <div class="nav-wrapper black">
        <ul id="nav-mobile" class="right">
          <% if current_user %>
          <a href="/">Traveller</a>
            <li><a href="/users/<%= current_user.id %>/wishlists">Wish list</a></li>
  <!--           <li><a href="/users/<%= current_user.id %>/tweets/new">Squak Bruh</a></li> -->
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <a href="/">Traveller</a>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          <% end %>
    </div>
  </nav>

  <%= yield %>
  <script src="https://js.moltin.com/v1"></script>
  <script src="/js/init.js"></script>
</body>
</html>
